@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
  margin: 0;
  padding: 0;
  user-select: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  background-color: gray;
}
.btn{
  position: absolute;
  top: 15px;
  left: 45px;
  height: 45px;
  width: 45px;
  text-align: center;
  background: #1b1b1b;
  border-radius: 3px;
  cursor: pointer;
  transition: left 0.4s ease;
}
.btn.click{
 left: 260px;
 background: #1b1b1b;
}
.btn span{
  color: white;
  font-size: 28px;
  line-height: 45px;
  background: #1b1b1b;
}
.btn.click span:before{
  content: "\f00d";
}
.sidebar{
  position: fixed;
  width: 250px;
  height: 100%;
  left: -250px;
  background: #1b1b1b;
  transition: left 0.4s ease;
}
.sidebar.show{
  left: 0px;

}
.sidebar .text{
  color: white;
  font-size: 25px;
  font-weight: 600;
  line-height: 65px;
  text-align: center;
  background: #1e1e1e;
  letter-spacing: 1px;
}
nav ul{
  background: #1b1b1b;
  height: 100%;
  width: 100%;
  list-style: none;
}
nav ul li{
  background: #1b1b1b;
  line-height: 60px;
  border-bottom: 1px solid rgba(255,255,255,0.1);
}
nav ul li:last-child{
  border-bottom: 1px solid rgba(255,255,255,0.05);
}
nav ul li a{
  background: #1b1b1b;
  position: relative;
  color:white;
  text-decoration: none;
  font-size: 18px;
  padding-left: 40px;
  font-weight: 500;
  display: block;
  width: 100%;
  border-left: 3px solid transparent;
}
nav ul li.active a{
  color: #7ee5b1;
  background: #1e1e1e;
  border-left-color: #7ee5b1;
}
nav ul ul{
  position: static;
  display: none;

}
nav ul .pepl-show.show{
  display: block;

}
nav ul .plac-show.show1{
  display: block;

}
nav ul .ideo-show.show2{
  display: block;

}
nav ul ul li{
  line-height: 42px;
  border-bottom: none;

}
nav ul ul li a{
  font-size: 17px;
  color: #e6e6e6;
  padding-left: 80px;
}
nav ul li.active ul li a{
  color:  #e6e6e6;;
  background: #1b1b1b;
  border-left-color: transparent;
}
nav ul ul li a:hover{
  color: #7ee5b1!important;
  background: #1e1e1e!important;
}
nav ul li a span{
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  font-size: 22px;
  transition: transform 0.4s;
  background: #1b1b1b;

}
nav ul li a span.rotate{
  transform: translateY(-50%) rotate(-180deg);
}
